.Home {
    .container-image-text {
        height: 400px;

        img {
            height: 400px;
            background-position: 0% 33%;
            width: 100%;
            object-fit: cover;
            position: absolute;
        }

        .container-text {
            padding: 2%;
            width: 300px;
            height: 175px;
            position: relative;
            top: 85px;
            left: 1000px;
            background-color: white;

            .text-h2 {
                font-size: 1.5rem;
                margin: 0 auto;
                color: $primary-color;
            }

            p {
                margin-bottom: 0;
                font-size: 1.2rem;
                margin-right: 10%;
                color: $primary-color;
            }
        }
    }

    .container-details {
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (max-width:1400px) {
    .Home {
        .container-image-text {
            .container-text {
                left: 900px;
            }
        }
    }
}

@media screen and (max-width:1300px) {
    .Home {
        .container-image-text {
            .container-text {
                left: 800px;
            }
        }
    }
}

@media screen and (max-width:1200px) {
    .Home {
        .container-image-text {
            .container-text {
                left: 700px;
            }
        }
    }
}

@media screen and (max-width:1100px) {
    .Home {
        .container-image-text {
            .container-text {
                left: 600px;
            }
        }
    }
}

@media screen and (max-width:980px) {
    .Home {
        .container-image-text {
            .container-text {
                left: 500px;
            }
        }
    }
}

@media screen and (max-width:850px) {
    .Home {
        .container-image-text {
            .container-text {
                left: 420px;
            }
        }
    }
}

@media screen and (max-width:765px) {
    .Home {
        .container-image-text {
            display: flex;

            .container-text {
                left: 0;
                margin: 0 auto;
            }
        }

        .container-details {
            flex-direction: column;

            .one-details {
                width: 75%;
                margin: 0 auto;
            }
        }
    }
}