.Header {
    border: red solid;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        width: 180px;
    }

    .icon-signup {
        text-decoration: none;
        margin-right: 2%;
        width: 5%;
        font-weight: 500;
        color: $primary-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}